

body{
  height: 30vh;
  width: 100%;
  background-image: white;

    background-image: url("../public/backgroundImage.png");
  background-color: #cccccc; /* Used if the image is unavailable */
/* You must set a specified height */
  background-position: fixed; /* Center the image */
  background-attachment: fixed;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.App {
  text-align: center;
  height: 100%; 
  justify-content: center;
  background-color: rgb(18, 19, 22);
  color: rgb(0, 0, 0);
  background-image: url("../public/backgroundImage.png");
  background-color: #cccccc; /* Used if the image is unavailable */
/* You must set a specified height */
  background-position: fixed; /* Center the image */
  background-attachment: fixed;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  flex-direction: row;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {

}
